@using DB2019.Backend.Api.Controllers
@using DB2019.Backend.Api.Helpers
@using DB2019.Backend.Api.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.SiteTitle - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/css/w3.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")">
    <style type="text/css">
        .header-bg {
            background: url('@Url.Content("~/Images/hdr3.jpg")') no-repeat;
            background-position: center left;
            min-height: 250px;
        }
        .gorod-bg {
            background: url('@Url.Content("~/Images/Logotip4.jpg")') no-repeat;
            background-position: top left;
            min-height: 100px;
        }
        .body-bg {
            background: url('@Url.Content("~/Images/fon.jpg")') no-repeat;
            background-position: top left;
            min-height: 75px;
        }
        .footer-bg {
            background: url('@Url.Content("~/Images/footer2.jpg")') no-repeat;
            background-position: top left;
            min-height: 75px;
        }
    </style>

</head>

<body class="w3-light-grey body-bg">

    <div class="w3-content w3-margin-top w3-margin-bottom w3-card" style="max-width:1400px;">

        @*<div class="header-bg">
        </div>*@

        <div class="w3-row">

            <div class="w3-col">

                <div class="w3-row gorod-bg">
                    @*<h1>@ViewBag.SiteTitle</h1>*@
                    @*<img src="~/Images/Logotip2.jpg" style="width:100%;height:100%;">*@
                </div>

                <div class="w3-bar w3-black">
                    @*<a href="#" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-home"></i></a>*@
                    <a href="@Url.Action("Map","Map")" class="w3-bar-item w3-button w3-mobile">Карта обращений</a>
                    <div class="w3-dropdown-hover w3-center">
                        <button class="w3-button w3-mobile w3-center">Обращения по категориям</button>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-light-grey">
                            @foreach (var category in LayoutHelper.GetCategories())
                            {
                                <a href="@Url.Action("Category","ShowIssue", new { id = category.Id })" class="w3-bar-item w3-button w3-mobile">@(category.Name ?? "- Не задана -")</a>
                            }
                        </div>
                    </div>
                    <a href="@Url.Action("Index","Awards")" class="w3-bar-item w3-button w3-mobile">Каталог вознаграждений</a>
                    <a href="@Url.Action("Index","About")" class="w3-bar-item w3-button w3-mobile">О проекте</a>
                </div>

                <div class="w3-white">

                    <div class="w3-container w3-white">
                        <h2>@ViewBag.Title</h2>
                    </div>

                    @RenderBody()

                    <div class="w3-container">
                       &nbsp;
                    </div>

                </div>

                <div class="w3-container w3-teal">
                    <h5>@ViewBag.SiteTitle</h5>
                    <p class="w3-small">Цифровой прорыв 2019 Nereal Software</p>
                </div>

            </div>

        </div>

    </div>
    @RenderSection("scripts", required: false)
</body>

</html>
